:root{
    --primary-color: #F6F6F6;
    --secondary-color: #1CB4A1;
    --third-color: #E6E6E6;
    --fourth-color: #4ccedf;
    --fifth-color: #CCCCCC;
    --sixth-color: #BFBFBF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
}

nav{
    background-color: var(--primary-color);
    width: 100%;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 999;
}

ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

li{
    font-size: 1.2rem;
    padding: 10px 20px;
    transition: all 0.3s ease;
    border-radius: 15px;
}

li:hover{
    background-color: var(--secondary-color);
    color: #FFFFFF;
}

a{
    text-decoration: none;
    color: #000000;
}

li:hover a{
    color: #FFFFFF;
}


/* Path: css/style.css */

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.container h1{
    font-size: 2rem;
    margin: 20px 0;
    text-align: center;
    margin-bottom: 35px;
}

.container p{
    font-size: 1.2rem;
    margin: 20px 0;
    text-align: center;
}

.container .cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    margin-top: 50px;
    margin-bottom: 50px;
}

.container .cards .card{
    width: 300px;
    min-height: 300px;
    background-color: var(--primary-color);
    border-radius: 15px;
    transition: all 0.3s ease;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    box-shadow: 0px 4px 18.6px 0px rgba(0, 0, 0, 0.15);
}

.container .cards .card img{
    width: 60%;
    margin: 0 auto;
    padding: 20px 0;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}

.container .cards .card .info{
    font-size: 1rem;
    font-weight: 300;

    width: 100%;
    background-color: #FFFFFF;
    padding: 20px;
}

.container .cards .card .info .name{
    font-size: 1.5rem;
    font-weight: 700;
}

.container .cards .card .info .price{
    font-size: 1.5rem;
    font-weight: 700;
}

.container .cards .card .info .price span{
    font-size: 1rem;
    font-weight: 300;
}

.container .cards .card .info input[type="submit"]{
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* login */

.login{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 35px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    box-shadow: 0px 4px 18.6px 0px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}

.login h1{
    font-size: 2rem;
    margin-bottom: 20px;
}

.login input[type="text"],
.login input[type="password"]{
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--third-color);
    margin-bottom: 20px;
}

.login input[type="submit"]{
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login input[type="submit"]:hover{
    background-color: var(--fourth-color);
}

/* registrarse */

.registrarse{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 35px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    box-shadow: 0px 4px 18.6px 0px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}

.registrarse h1{
    font-size: 2rem;
    margin-bottom: 20px;
}

.registrarse input[type="text"],
.registrarse input[type="password"]{
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--third-color);
    margin-bottom: 20px;
}

.registrarse input[type="submit"]{
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}

.registrarse input[type="submit"]:hover{
    background-color: var(--fourth-color);
}

/* carrito */

.carrito{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
}
/*------*/
.productos{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;

}
.cards-productos{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 50px;
    height: 245px;
}
.cards-productos .item{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 15px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    box-shadow: 0px 4px 18.6px 0px rgba(0, 0, 0, 0.15);

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-prod{
    width: 250px;
    margin-right: 5px;
}
/*movera productos parte de abajo*/
.lista-carrito{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 50px;
}

.lista-carrito .item{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    box-shadow: 0px 4px 18.6px 0px rgba(0, 0, 0, 0.15);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista-carrito .item img{
    width: 100px;
    margin-right: 20px;
}

.lista-carrito .item .info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.lista-carrito .item .info .name{
    font-size: 1.5rem;
    font-weight: 700;
}

.lista-carrito .item .info .price{
    font-size: 1.5rem;
    font-weight: 700;
}

.lista-carrito .item .info .price span{
    font-size: 1rem;
    font-weight: 300;
}


.lista-carrito .item .actions input[type="number"]::-webkit-inner-spin-button,
.lista-carrito .item .actions input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.lista-carrito .item .actions input[type="number"]{
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--third-color);
    text-align: center;
}

.lista-carrito .item .actions button{
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}

.lista-carrito .item .actions button:hover{
    background-color: var(--fourth-color);
}

.lista-carrito .item .actions{

    width: 150px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    gap: 20px;
}

/* total */

.total{
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 18.6px 0px rgba(0, 0, 0, 0.15);

    border-radius: 15px;
}

.total .price{
    font-size: 1.5rem;
    font-weight: 700;
}

.total .price span{
    font-size: 1rem;
    font-weight: 300;
}

.total button{
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}

.total button:hover{
    background-color: var(--fourth-color);
}

/*botones delete & update*/
.dU{
    border: 2px solid darkblue;
    height: 80px;
    width: 30px;
  }

  /*registrar producto*/
  
.registrarP{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 35px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:baseline;
    margin-top: 50px;
    box-shadow: 0px 4px 18.6px 0px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}
.registrarProductos{
    width: 30%;
        background-color: #C35DFF; /* Green */
        border-radius: 10px;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        align-items: center;
        font-size: 1.2rem; 
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}

.registrarP h1{
    font-size: 2rem;
    margin-bottom: 20px;
}

.form-registrarP{
    font-size: 1rem;
    margin-bottom: 20px;
}

.form-Rproducto{
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #FFCEFF;
    margin-bottom: 20px;
}
.form-Rproducto .TextB{
    width: 150%;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--primary-color);
    margin-bottom: 20px;
}

.registrarP input[type="submit"]{
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #C35DFF;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}

/*Registro de clientes*/
.registrarC{
    width: 30%;
        background-color: #C35DFF; /* Green */
        border-radius: 10px;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        align-items: center;
        font-size: 1.2rem; 
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
        
}
