<%@ Master Languaje="C#" AutoEventWireup="true" Src="Main.master.cs" Inherits="Main" %>
<!DOCTYPE html>
<html xmls="http://>www.w3.org>1999/>xhtml/>
    
</html>/">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        
    </body>
</html>